body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: lavender;
  text-align: center;
  margin: 0%;
  padding: 0%;
}

.container{
    max-width: 700px;
    margin: auto;
    padding: 20 px;
}

.subtitle{
    font-size: 18 px;
    color: darkslateblue;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}
.about{
    margin-top: 20 px;
    background-color: #ffffff;
    padding: 20 px;
    border-radius: 8 px;
    box-shadow: 0,2px 5px rgba(0 0 0 0.1);
}

.about h2 {
    margin-bottom: 10px;
 }

.details {
    margin-top: 30px;
    text-align: left;
 }

.details h2 {
     text-align: center;
 }
            
.portfolio {
    margin-top: 20px;
}

.portfolio a {
    text-decoration: none;
    font-weight: bold;
    color: #0073e6;
    font-size: 16px;
}

.portfolio a:hover {
    text-decoration: underline;
}

.socials {
    margin-top: 20px;
}

.icon {
    width: 30px;
    margin: 0 10px;
}